
.div-style{
  height: 150px;
  width: 700px;
  margin-top: 20px;
  padding: 10px;
  background-color: lightsalmon;
}
body {
	background-color: #245;
  margin: auto;
  background-repeat: no-repeat;
  background-size: auto;
  
}
	
h1{
  text-align: center;
}
  